{% extends 'versions.html' %}
 
{% block content %}


{% for x in list %}
<tr scope="row">
             <td>
                </label>
                adskfnasdkjfnaksf
             </td>
             <td>{{x.projectid}}</td>
             <td class="pl-0">
               <div class="d-flex align-items-center">
                 <span class="ios-switch-control-indicator"></span>
                 </label>
                 <a>{{x.versionname}}</a>
               </div>
             </td>
             <td>
               {{x.equipmentname}}
               <small class="d-block"></small>
             </td>
             <td><a href="{{downloadLink}}" class="more" style="color:blue">Download</a></td>
</tr>
{% endfor %}
{% endblock %}